{%- assign file = include.file | default: '' -%}
{%- assign label = include.label | default: 'Download' -%}
{%- assign hint = include.hint | default: '' -%}

{%- if file != '' -%}
  {%- assign f = file | remove_first: '/' -%}
  {%- if f contains 'downloads/' -%}
    {%- assign href = '/' | append: f -%}
  {%- else -%}
    {%- assign href = '/downloads/' | append: f -%}
  {%- endif -%}

  <div class="download-box">
    <a class="download-button" href="{{ href | relative_url }}" download>
      {{ label }}
    </a>
    {%- if hint != '' -%}
      <div class="download-hint">{{ hint }}</div>
    {%- endif -%}
  </div>
{%- endif -%}
